<!--************************************
			Wrapper Start
	*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">

  <!--************************************
                            Banner Start
                    *************************************-->
  <div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
      <img src="assets/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
      <div class="row">
        <div class="tg-banner-content tg-haslayout">
          <div class="tg-pagetitle">
            <h1>Prevent injury</h1>
          </div>
          <ol class="tg-breadcrumb">
            <li><a href="#">Tips</a></li>
            <li class="active">Prevent injuries</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--************************************
                            Banner End
                    *************************************-->






  <!--************************************
                            Main Start
                      *************************************-->

  <main id="tg-main" class="tg-main tg-haslayout ms-5">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
          <div class="col-sm-11 col-xs-12 pull-left">
            <div class="tg-player-detail tg-haslayout">
              <div class="tg-player-data tg-haslayout">

                <div class="tg-player-description tg-haslayout">
                  <div class="tg-description">
                    <img class="tg-alignleft" width="50%"
                      src="https://athlonrub.com/cdn/shop/articles/prevent_soccer_injuries_1024x102_17b4d540-b8ca-4d84-b52c-1993da562371_1024x.jpg?v=1528213581"
                      alt="image description">
                    <div class="tg-section-heading">
                      <h2>Tips for our football players to help prevent injuries:

                      </h2>
                    </div>
                    <p>Warm up your muscles properly. Spend 10-15 minutes doing gentle
                      stretches to loosen up your major muscle groups like legs, hips,
                      back and shoulders. Then do 5-10 minutes of dynamic movements like knee
                      hugs, butt kicks, side shuffles and jogging to gradually increase blood flow.
                      This prepares your body for more strenuous play.</p>
                    <p>Include comprehensive strength training 2-3 times per week. Focus on exercises like squats,
                      lunges, calf raises, planks and single-leg bridges to build the muscular foundation around your
                      hips, legs, core and back. Strong muscles support joints better and are less prone to strains or
                      pulls when sprinting or changing directions quickly.</p>
                    <p>Stretch all your major muscle groups after playing or training sessions. Take 10-15 minutes to
                      slowly stretch hamstrings, quadriceps, hip flexors, groin, calves and lower back. Gently hold each
                      stretch for 20-30 seconds. Tight, fatigued muscles are at higher risk of injury so stretching
                      promotes flexibility and reduces post-exercise soreness.</p>
                    <p>Wear proper protective gear like shin guards to prevent cuts and bruises from kicks or collisions
                      with other players. Consider additional gear like fitted compression sleeves if you've had
                      previous ankle or knee injuries. Proper protection can help prevent re-injury.</p>
                    <p>Listen to early warning signs from your body and rest when tired or in mild pain. Playing through
                      minor injuries like tweaked muscles or joint irritation can cause small issues to worsen into
                      longer-term problems if not given time to properly heal.</p>
                    <p>Eat a nutritious diet with plenty of lean proteins, whole grains, fruits and vegetables to
                      support your body's recovery between games and training. Being well-nourished aids muscle repair
                      and growth. Consume recovery snacks like yogurt or a protein shake within 30 minutes of exercise.
                    </p>
                    <div id="tg-playerslider" class="tg-playerslider tg-haslayout">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <figure><img
                              src="https://www.soccersupplement.com/cdn/shop/articles/top-5-tips-to-reduce-injury-risk-and-improve-recovery-for-footballers-205670.jpg?v=1618411574"
                              alt="image description"></figure>
                        </div>
                      </div>
                    </div>

                    <ul class="tg-detail">
                      <li>
                        <i class="fa fa-check"></i>
                        Do strength training 2-3x/week targeting legs, core and back.
                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        Stretch major muscles after exercise for 10-15 mins.
                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        Wear shin guards to prevent cuts and bruises.
                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        Listen to your body - rest when tired or in pain. </li>
                      <li>
                        <i class="fa fa-check"></i>
                        Eat nutritious meals and recovery snacks.                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        Protect injury prone areas with braces if needed.


                    </li>
                    </ul>
                    <ul class="tg-detail">
                      <li>
                        <i class="fa fa-caret-right"></i>
                        Condition ankles with exercises like toe raises.

                    </li>
                      <li>
                        <i class="fa fa-caret-right"></i>
                        Watch your technique and form during plays.

                    </li>
                      <li>
                        <i class="fa fa-caret-right"></i>
                        Rest and rehab fully before returning from injuries.

                    </li>
                      <li>
                        <i class="fa fa-caret-right"></i>
                        Maintain muscle strength and a healthy weight.

                    </li>
                      <li>
                        <i class="fa fa-caret-right"></i>
                        Consectetur adipisicing elit do eiusmod tempor
                      </li>
                      <li>
                    </ul>
                  </div>
                </div>
                <div id="tg-comments" class="tg-comments">
                  <div class="tg-section-heading">
                    <h2>well-known quote about injury prevention</h2>
                  </div>
                  <ul>
                    <li>
                      <div class="tg-comment">
                        <figure>
                          <a href="#">
                            <img src="https://www.coachesvoice.com/wp-content/webpc-passthru.php?src=https://www.coachesvoice.com/wp-content/uploads/2022/01/FergusonMobile.jpg&nocache=1" width="150px" alt="image description">
                          </a>
                        </figure>
                        <div class="tg-commentdata">
                          <span class="tg-theme-tag"><time datetime="2016-05-13">May 3, 2010</time></span>

                          <div class="tg-section-heading">
                            <h3>Sir Alex Ferguson</h3>
                          </div>
                          <div class="tg-description">
                            <p>Prevention is better than cure. We couldn't agree more.
                                This is something that we strongly believe in at
                                Manchester United. We do everything in our power to
                                prevent injuries. We monitor players' fitness and we
                                analyze their condition in the hope of preventing
                                injuries. This is key to any team's success.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>










  <!--************************************
                            Footer Start
                    *************************************-->
  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-haslayout tg-footerinfobox">
      <div class="tg-bgboxone"></div>
      <div class="tg-bgboxtwo"></div>
      <div class="tg-footerinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-posttitle">
                  <h3>signup newsletter</h3>
                </div>
                <div class="tg-description">
                  <p>Adipisicing elit, sed do eiusmod tempor incidunta utiai labore et dolore magna si
                    aliqua quis.</p>
                </div>
                <form class="tg-form-newsletter">
                  <fieldset>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <button class="tg-btn" type="submit">signup</button>
                  </fieldset>
                </form>
                <div class="tg-posttitle">
                  <h3>popular tags</h3>
                </div>
                <div class="tg-tags">
                  <a class="tg-tag" href="#">fashion</a>
                  <a class="tg-tag" href="#">travel</a>
                  <a class="tg-tag" href="#">blog</a>
                  <a class="tg-tag" href="#">sports</a>
                  <a class="tg-tag" href="#">magazine</a>
                  <a class="tg-tag" href="#">ui</a>
                  <a class="tg-tag" href="#">tech</a>
                  <a class="tg-tag" href="#">fun time</a>
                  <a class="tg-tag" href="#">soccer</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-posttitle">
                  <h3>Top products</h3>
                </div>
                <div class="tg-toprated">
                  <ul>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-04.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-05.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-06.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-07.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-haslayout">
                  <strong class="tg-logo">
                    <a href="#">
                      <img src="assets/images/logo2.png" alt="image description">
                    </a>
                  </strong>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua
                    enim minim
                    veniami quis nostrud.</p>
                </div>
                <ul class="tg-contactinfo">
                  <li>
                    <i class="fa fa-home"></i>
                    <address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o"></i>
                    <a href="info%40domain.html">info@domain.com</a>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <span>+44 123 456 788 - 9</span>
                  </li>
                </ul>
                <div class="tg-haslayout">
                  <a class="tg-btn" href="#">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tg-footerbar">
      <div class="container">
        <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Templates
            Hub</a></span>
        <nav class="tg-footernav">
          <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Buy Tickets</a></li>
            <li><a href="#">Match Results</a></li>
            <li><a href="#">Upcoming Matches</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <!--************************************
                            Footer End
                    *************************************-->
</div>
<!--************************************
                        Wrapper End
                *************************************-->
