<!--************************************
			Wrapper Start
	*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
  <!--************************************
                      Mobile Menu Start
              *************************************-->
  <div id="tg-navigationm-mobile" class="tg-navigationm-mobile tg-navigation collapse navbar-collapse">
    <span id="tg-close" class="tg-close fa fa-close"></span>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="#">Main</a>
          <ul class="tg-dropdown-menu">
            <li><a href="index-2.html">home1</a></li>
            <li><a href="index2.html">home2</a></li>
          </ul>
        </li>
        <li class="active">
          <a href="#">team</a>
          <ul class="tg-dropdown-menu">
            <li><a href="playergrid-v1.html">playergrid-v1</a></li>
            <li><a href="playergrid-v2.html">playergrid-v2</a></li>
            <li class="active"><a href="playerdetail.html">playergrid detail</a></li>
          </ul>
        </li>
        <li><a href="buyticket.html">Buy Tickets</a></li>
        <li>
          <a href="#">Match Results</a>
          <ul class="tg-dropdown-menu">
            <li><a href="matchresult.html">match result</a></li>
            <li><a href="matchresultdetail.html">match result detail</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tg-colhalf">
      <ul>
        <li>
          <a href="#">fixtures</a>
          <ul class="tg-dropdown-menu">
            <li><a href="fixtures.html">fixtures</a></li>
            <li><a href="fixturedetail.html">fixture detail</a></li>
          </ul>
        </li>
        <li>
          <a href="#">pro soccer media</a>
          <ul class="tg-dropdown-menu">
            <li><a href="soccermedia-1.html">pro soccer media1</a></li>
            <li><a href="soccermedia-2.html">pro soccer media2</a></li>
          </ul>
        </li>
        <li><a href="contactus.html">Contact</a></li>
        <li>
          <a href="#"><i class=" fa fa-navicon"></i></a>
          <ul>
            <li><a href="aboutus.html">about us</a></li>
            <li><a href="shoplist.html">shop list</a></li>
            <li><a href="shopgrid.html">shop grid</a></li>
            <li><a href="productsingle.html">shop detail</a></li>
            <li><a href="bloglist.html">blog list</a></li>
            <li><a href="bloggrid.html">blog grid</a></li>
            <li><a href="blogdetail.html">blog detail</a></li>
            <li><a href="404.html">404 error</a></li>
            <li><a href="comming-soon.html">comming soon</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--************************************
                      Mobile Menu End
              *************************************-->
  <!--************************************
                      Banner Start
              *************************************-->
  <div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
      <img src="assets/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
      <div class="row">
        <div class="tg-banner-content tg-haslayout">
          <div class="tg-pagetitle">
            <h1>Our Recovery Plans</h1>
          </div>
          <ol class="tg-breadcrumb">
            <li><a href="#">Rcovery plans</a></li>
            <li class="active">List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--************************************
                      Banner End
              *************************************-->
  <!--************************************
                      Main Start
              *************************************-->

  <main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
          <div class="col-sm-12 col-xs-12 pull-left">
            <div class="tg-player-detail tg-haslayout">
              <div class="tg-player-data tg-haslayout">
                <div class="tg-player-info tg-haslayout">


                  <div class="container-fluid">
                    <div class="row">
                      <!-- Loop through each recoveryPlan and create a card in a column -->
                      <div class="col-sm-4 mb-4" *ngFor="let recoveryPlan of recoveries">
                        <div class="card">
                          <div class="card-body d-flex flex-column align-items-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/4856/4856858.png" class="img-fluid"
                              width="170px" alt="...">
                            <h3 class="card-title mt-3">Recovery plan for {{recoveryPlan.player.firstName}}
                              {{recoveryPlan.player.lastName}}</h3>
                            <h5 class="card-subtitle mb-3 mt-2 text-muted"><b>Status:</b> {{recoveryPlan.status}}</h5>
                            <h5 class="card-subtitle mb-3 text-muted"><b>Start date:</b>
                              {{recoveryPlan.startDate | date : 'mediumDate'}}</h5>
                            <h5 class="card-subtitle mb-3 text-muted"><b>End date:</b>
                              {{recoveryPlan.endDate | date : 'mediumDate'}}</h5>
                            <h5 class="card-subtitle mb-3 text-muted"><b>Activities:</b> {{recoveryPlan.activities}}
                            </h5>

                            <hr class="w-100">

                            <!-- Button group wrapped in a flex container -->
                            <div class="d-flex justify-content-center align-items-center"
                              style="transform: scale(1.05);">
                              <button mat-icon-button color="primary" (click)="setAsRecovered(recoveryPlan._id)" *ngIf="recoveryPlan.status !== 'Recovered'">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <span *ngIf="recoveryPlan.status !== 'Recovered'" style="margin-left: -3px;"><b>Set as Recovered</b></span>

                              <!-- Delete Button -->
                              <button mat-icon-button color="warn" class="ms-3"
                                (click)="deleteRecoveryPlan(recoveryPlan._id)">
                                <mat-icon> delete </mat-icon>
                              </button>
                              <span style="margin-left: -5px;"><b>Delete</b></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End loop -->
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--************************************
                      Main End
              *************************************-->


  <!--************************************
                      Footer Start
              *************************************-->
  <footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-haslayout tg-footerinfobox">
      <div class="tg-bgboxone"></div>
      <div class="tg-bgboxtwo"></div>
      <div class="tg-footerinfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-posttitle">
                  <h3>signup newsletter</h3>
                </div>
                <div class="tg-description">
                  <p>Adipisicing elit, sed do eiusmod tempor incidunta utiai labore et dolore magna si aliqua quis.</p>
                </div>
                <form class="tg-form-newsletter">
                  <fieldset>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <button class="tg-btn" type="submit">signup</button>
                  </fieldset>
                </form>
                <div class="tg-posttitle">
                  <h3>popular tags</h3>
                </div>
                <div class="tg-tags">
                  <a class="tg-tag" href="#">fashion</a>
                  <a class="tg-tag" href="#">travel</a>
                  <a class="tg-tag" href="#">blog</a>
                  <a class="tg-tag" href="#">sports</a>
                  <a class="tg-tag" href="#">magazine</a>
                  <a class="tg-tag" href="#">ui</a>
                  <a class="tg-tag" href="#">tech</a>
                  <a class="tg-tag" href="#">fun time</a>
                  <a class="tg-tag" href="#">soccer</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-posttitle">
                  <h3>Top products</h3>
                </div>
                <div class="tg-toprated">
                  <ul>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-04.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-05.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-06.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                    <li>
                      <figure>
                        <a href="#">
                          <img src="assets/images/thumbnails/img-07.jpg" alt="image description">
                        </a>
                      </figure>
                      <div class="tg-productcontent">
                        <h4><a href="#">Smooth 3-Stripes Scarf</a></h4><span class="tg-stars"><span></span></span>
                        <span class="tg-price">Price: $67</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tg-footercol">
                <div class="tg-haslayout">
                  <strong class="tg-logo">
                    <a href="#">
                      <img src="assets/images/logo2.png" alt="image description">
                    </a>
                  </strong>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit sedtado eiusmod dunt ut labore et dolore magna aliqua enim minim
                    veniami quis nostrud.</p>
                </div>
                <ul class="tg-contactinfo">
                  <li>
                    <i class="fa fa-home"></i>
                    <address>123 Eccles Old Road, New Salford Road London, Uk, M6 7AF</address>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o"></i>
                    <a href="info%40domain.html">info@domain.com</a>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <span>+44 123 456 788 - 9</span>
                  </li>
                </ul>
                <div class="tg-haslayout">
                  <a class="tg-btn" href="#">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tg-footerbar">
      <div class="container">
        <span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
        <nav class="tg-footernav">
          <ul>
            <li><a href="#">Main</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Buy Tickets</a></li>
            <li><a href="#">Match Results</a></li>
            <li><a href="#">Upcoming Matches</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <!--************************************
                        Footer End
                *************************************-->
</div>
<!--************************************
                    Wrapper End
            *************************************-->
<!--************************************
                    Search Start
            *************************************-->
<div class="tg-searchbox">
  <a id="tg-close-search" class="tg-close-search" href="javascript:void(0)"><span class="fa fa-close"></span></a>
  <div class="tg-searcharea">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form class="tg-form-search">
            <fieldset>
              <input type="search" class="form-control" placeholder="keyword">
              <i class="icon-icon_search2"></i>
            </fieldset>
          </form>
          <p>Start typing and press Enter to search</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--************************************
                    Search End
            *************************************-->
<!--************************************
                LightBoxes Start
            *************************************-->
<div class="tg-modalbox modal fade" id="tg-login" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="tg-modal-content">
      <div class="tg-formarea">
        <div class="tg-border-heading">
          <h3>Login</h3>
        </div>
        <form class="tg-loginform" method="post">
          <fieldset>
            <div class="form-group">
              <input type="text" name="userName/email" class="form-control" placeholder="username/email">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" value="rememberme" class="checkbox">
                <em>Remember Me</em>
              </label>
              <a href="#">
                <em>Forgot Password</em>
                <i class="fa fa-question-circle"></i>
              </a>
            </div>
            <div class="form-group">
              <button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
            </div>
            <div class="tg-description">
              <p>Don't have an account? <a href="#">Signup</a></p>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="tg-logintype">
        <div class="tg-border-heading">
          <h3>Login with</h3>
        </div>
        <ul>
          <li class="tg-facebook"><a href="#">facebook</a></li>
          <li class="tg-twitter"><a href="#">twitter</a></li>
          <li class="tg-googleplus"><a href="#">google+</a></li>
          <li class="tg-linkedin"><a href="#">linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tg-modalbox modal fade" id="tg-register" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="tg-modal-content">
      <div class="tg-formarea">
        <div class="tg-border-heading">
          <h3>Signup</h3>
        </div>
        <form class="tg-loginform" method="post">
          <fieldset>
            <div class="form-group">
              <input type="text" name="userName" class="form-control" placeholder="username">
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="email">
            </div>
            <div class="form-group">
              <div class="tg-note">
                <i class="fa fa-exclamation-circle"></i>
                <span>We will email you your password.</span>
              </div>
            </div>
            <div class="form-group">
              <button class="tg-btn tg-btn-lg" type="submit">Login Now</button>
            </div>
            <div class="tg-description">
              <p>Already have an account? <a href="#">Login</a></p>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="tg-logintype">
        <div class="tg-border-heading">
          <h3>Signup with</h3>
        </div>
        <ul>
          <li class="tg-facebook"><a href="#">facebook</a></li>
          <li class="tg-twitter"><a href="#">twitter</a></li>
          <li class="tg-googleplus"><a href="#">google+</a></li>
          <li class="tg-linkedin"><a href="#">linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
