<div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="card" style="margin-top: 80px;">
          <div class="card-header">
            <h4 class="card-title">Injuries calender</h4>
          </div>
          <div class="card-body" style="color: black!important;">
            <div class="row">
              <div class="col-md-12" style="color: black!important;">
                <div class="calendar-container" style="color: black!important;">
                  <full-calendar #calendar [options]="calendarOptions" style="color: black!important;"></full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>