<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
                <div class="col-sm-9 col-xs-12 pull-left">
                    <div class="tg-player-detail tg-haslayout">
                        <div class="tg-player-data tg-haslayout">
                            <div class="tg-player-info tg-haslayout">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="assets/images/player/img-05.jpg" alt="image description">
                                            </figure>
                                        </div>
                                        <div class="tg-widget tg-mapwidget">
                                            <div id="tg-map" class="tg-map tg-haslayout">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.196388026009!2d144.9584250158674!3d-37.808868741537424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d34d2754a9f%3A0xad27583c2c9e2890!2sElizabeth+St%2C+Melbourne+VIC+3000%2C+Australia!5e0!3m2!1sen!2s!4v1468220698916"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">SWEEPER</a>
                                            <h3><a href="#">Maynard Brabant</a></h3>
                                            <span class="tg-stars"><span></span></span>
                                            <div class="d-flex align-items-center">
                                                <button mat-icon-button class="me-2" (click)="profileEdit()">
                                                  <mat-icon>edit</mat-icon>
                                                </button>
                                              </div>
                                        </div>
                                        <ul>
                                            <li>Nick Name :</li>
                                            <li>{{userProfile.NickName}}</li>
                                            <li>Birth Date :</li>
                                            <li>{{userProfile.BirthDate}}</li>
                                            <li>age :</li>
                                            <li>{{userProfile.age}}</li>
                                            <li>Birth Place :</li>
                                            <li>{{userProfile.BirthPlace}}</li>
                                            <li>Height :</li>
                                            <li>{{userProfile.Height}}</li>
                                            <li>Weight :</li>
                                            <li>{{userProfile.Weight}}</li>
                                            <li>Field position :</li>
                                            <li>{{userProfile.FieldPosition}}</li>
                                            <li>First professional club :</li>
                                            <li>{{userProfile.FirstProfClub}}</li>
                                            <li>Social Networks :</li>
                                            <li>
                                                <ul class="tg-socialicons">
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
        