.row-edit {
    margin-bottom: 10px;
}

.table-margin {
    margin-top: -50px;
    margin-bottom: 50px;
}


.injured {
    font-size: 14px;
    color: white;
    border-radius: 3px;
    position: relative;
    text-align: center;
    background: red;
    text-transform: uppercase;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    width: 80px;
}

.available {
    border-radius: 3px;
    font-size: 14px;
    color: white;
    position: relative;
    text-align: center;
    background: blue;
    padding: 0 5px 1px 5px;
    text-transform: uppercase;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    width: 80px;
}


.modal-backdrop {
    background-color: red!important;
}

.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
  }

  .alert-container {
    display: flex;
    justify-content: space-around;
  }
  
  .alert {
    width: 350px;
  }

  .alertSuccess {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .alertDanger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  